<h1>Playersスタッツ</h1>
<h2>PERGAME</h2>
<h4>2017 - 2018 season</h4>
  <div class="players-contents-index">
    <table class="table-design tablelock1">
      <thead>
        <tr>
          <th>Player</th>
          <th>Team</th>
          <th>PPG</th>
          <th>RPG</th>
          <th>APG</th>
          <th>FT%</th>
          <th>number</th>
        </tr>
      </thead>
           <% @players.each do |player| %>
      <tbody>
        <tr>
          <td><div class="ranking"><%= link_to(player.name,"/players/#{player.id}")%></div></td>
          <td><%= player.team %></td>
          <td><%= player.ppg %></td>
          <td><%= player.rpg %></td>
          <td><%= player.apg %></td>
          <td><%= "#{player.ft}%" %></td>
          <td><%= "##{player.number}" %></td>
        </tr>
      </tbody>
           <% end %>
    </table>
  </div>